.navbar {
    background-color: #e3f2fd;
    width: 100%;
}
.navbar-brand {
    font-family: fantasy;
}
.nav-link {
    font-weight: bold;
}
.logo {
    width: 35px;
    height: 35px;
     -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
     -ms-transition: all 2s ease;
      transition: all 1s ease;
}
.logo:hover{
  width: 40px;
  height: 40px;
}
header img {
    height: 200px;
}
div.box {
    text-align: center;
    background: linear-gradient(#076dff,#65a5ff);
    border-radius: 7px;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.15),
                0 2px 8px 4px rgba(0,0,0,1);
}
div.box label p,
.box p {
    text-align: justify;
    color: aliceblue;
/*    font-family: cursive;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
}
div.boxicon {
    width: 100%;
}
div.container article p {
    text-align: justify;
    color: #ff3300;
    font-family: cursive;
    line-height: 20px;
    padding: 20px;
}
.readmorebtn {
    margin: 10px;
}
body{
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/-hnnJox/visualization-of-bright-dots-moving-around-a-dark-background_n1l_mmuu__F0000.png);
/*    background-image: url("../assets/assassins_creed_revelations_ezio-wallpaper-1920x1080%20(1).jpg");*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding-top: 7px;
}

.card-img-top {
    object-fit: cover;
}
.fa {
    background-color: wheat;
    width: 28px;
    height: 26px;
    text-align: center;
    font-size: 25px;
    padding: 6px;
    border-radius: 50%;
    margin-top: 5px;
    display: inline-block;
    overflow: hidden; 
    position: relative;
    

}
footer {
    color: white;
    padding-left: 20px;
    background-color: rgba(182, 15, 10, 0.986);
    border-radius: 5px;
    height: 50px;
    align-content: center;

}

/* footer a {
    position: relative;
    left: 1110px;
    top: 5px;
} */

.fa-facebook {
    background: #3B5998;
    color: white;
    -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
     -ms-transition: all 2s ease;
      transition: all 1s ease;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
     -ms-transition: all 2s ease;
      transition: all 1s ease;
}
.fa-google {
    background: #dd4b39;
    color: white;
    -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
     -ms-transition: all 2s ease;
      transition: all 1s ease;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
     -ms-transition: all 2s ease;
      transition: all 1s ease;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google:hover,
.fa-linkedin:hover {
    width: 30px;
    height: 30px;
    text-decoration: none;
}
#social{
   float: right;
   margin-top: 5px;
   margin-right: 10px;
   

}
