h3{
  margin-top: 20px;
}
#navbar-image{
  width:30px;
  height:30px;
}
.timeline-content{
  margin: 20px 0px;
}
h3{

  color:#1F2421;
  font-weight: bold;
}
h4{
  color:#216869;
  font-weight: bold;
}
